li.docs-file, li.docs-parents, li.docs-folder{
  list-style-type: none; list-style-image: none;
}

li.docs-file a{
  background: url(file.gif) left no-repeat;
  padding-left: 30px;
}

li.docs-parents a, li.docs-folder a{ 
  background: url(folder.gif) left  no-repeat; 
  margin-left: 13px;
  padding-left: 32px;
}

li a.docs-node {
 background: url(info.png) left no-repeat;
 padding-left: 0;
 padding-top: 15px;
 float: left;
 display: block;
 width: 15px;
 height: 0px;
 clear: both;
 overflow: hidden;
}

ul.docs-parents { margin: 0; padding: 0; }

li.docs-parents { float: left; margin-left: 1em; list-style-position: inside; }

ul { position:relative; }

li.docs-parents { position: realtive; }

